
.conteiner{
    background: linear-gradient(45deg, #643ba2, #b15a9a, #f47595);
    padding-top: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10vh;
}

.newsblock1{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.521);
    height: 50vh;
    border-radius: 35px;
}

.photo{
    padding-top: 4vh;
    padding-left: 2vh;
}

.photo img{
    border-radius: 5vh;
}

.newstitle1{
    color: white;
    padding-top: 4%;
    padding-left: 2%;
    font-size: 300%;
    font-family: Roboto;
    font-style: normal;
}
.col-sm-6 a{
    color: white;
    text-decoration: none;
}
.mainidea1{
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
    font-family: Roboto;
    font-style: normal;
}

.link1{
    color: white;
    padding-top: 7%;
    padding-left: 70%;
    font-size: 150%;
    font-family: Roboto;
    font-style: normal;
}

